<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cardGGaduekMainService.transaction.mapper.TransactionMapper">

    <insert id="insertTransaction" parameterType="org.cardGGaduekMainService.transaction.domain.TransactionVO">

        INSERT INTO Transaction (
            member_id, card_id, store_name, product_id, coupon_id,

            amount, transaction_category_code, transaction_status, payment_method,
            date, approval_code, memo
        ) VALUES (
                     #{memberId}, #{cardId}, #{storeName}, #{productId}, #{couponId},
                     #{amount}, #{transactionCategory.name}, #{transactionStatus.name}, #{transactionMethod.name},
                     #{date}, #{approvalCode}, #{memo}
                 )
    </insert>

    <resultMap id="TransactionMap" type="org.cardGGaduekMainService.transaction.dto.CTransactionDTO">
        <id     property="id"         column="id" />
        <result property="cardId"     column="card_id" />
        <result property="cardProductId"  column="card_product_id" />
        <result property="storeName"  column="store_name"/>
        <result property="amount"     column="amount" />
        <result property="transDate"  column="date" />
        <result property="cardName" column="card_name" />

    </resultMap>

    <select id="selectTransactionsWithCardInfoByMemberId"
            resultMap="TransactionMap">
        SELECT
            c.`id`                  AS card_id,
            c.`card_product_id`     AS card_product_id,
            cp.`card_product_name`  AS card_name,

            t.`id`                  AS id,
            t.`store_name`          AS store_name,
            t.`amount`              AS amount,
            t.`date`                AS date
        FROM `card` c
                 JOIN `card_product` cp
                      ON cp.`id` = c.`card_product_id`
                 LEFT JOIN `transaction` t
                           ON t.`card_id` = c.`id`
        WHERE c.`member_id` = #{memberId}
        ORDER BY c.`id` ASC, t.`date` DESC
    </select>


</mapper>

