<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cardGGaduekMainService.product.rooms.mapper.RoomsMapper">

    <select id="findPriceById" resultType="java.math.BigDecimal">
        SELECT
            price_per_night  -- 가격 컬럼
        FROM
            rooms  -- 객실 정보 테이블
        WHERE
            id = #{id}
    </select>

    <select id="findByAccommodationId" parameterType="long" resultType="org.cardGGaduekMainService.product.rooms.dto.RoomsDTO">
        SELECT
            id,
            accommodation_id AS accommodationId,
            name,
            price_per_night AS pricePerNight,
            max_capacity AS maxCapacity
        FROM
            rooms
        WHERE
            accommodation_id = #{accommodationId}
    </select>

    <select id="findRoomStatusById" parameterType="long" resultType="string">
        SELECT is_valid
        FROM rooms
        WHERE id = #{roomid}
    </select>

    <update id="updateRoomStatus">
        UPDATE rooms
        SET is_valid = #{status}
        WHERE id = #{roomId}
    </update>
</mapper>