<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cardGGaduekMainService.cardPerformance.mapper.CardPerformanceMapper">

    <resultMap id="CardPerformanceResultMap" type="org.cardGGaduekMainService.cardPerformance.domain.CardPerformanceVO">
        <result property="cardId"                  column="card_id"/>
        <result property="cardProductName"         column="card_product_name"/>
        <result property="requiredMonthlySpending" column="required_monthly_spending"/>
        <result property="spentAmount"             column="spent_amount"/>
    </resultMap>

    <select id="selectByMemberId"
            resultMap="CardPerformanceResultMap">
        SELECT
            cp.id                                AS card_id,
            cp.card_product_name                 AS card_product_name,
            cp.required_monthly_spending         AS required_monthly_spending,
            COALESCE(SUM(t.amount), 0)           AS spent_amount
        FROM card_product cp
                 INNER JOIN card c
                            ON cp.id = c.card_product_id
                 LEFT JOIN transaction t
                           ON c.id = t.card_id
                               AND DATE_FORMAT(t.date, '%Y-%m') = DATE_FORMAT(CURRENT_DATE, '%Y-%m')
        WHERE c.member_id = #{memberId}
        GROUP BY
            cp.id, cp.card_product_name, cp.required_monthly_spending
    </select>

</mapper>
