<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cardGGaduekMainService.cardRecommend.mapper.CardProductMapper">
    <resultMap id="CardProdMap" type="org.cardGGaduekMainService.cardProduct.domain.CardProductVO"/>
    <select id="findAllActive" resultMap="CardProdMap">
        SELECT * FROM card_product WHERE status = 'ACTIVE'
    </select>
    <select id="findById" parameterType="long" resultMap="CardProdMap">
        SELECT * FROM card_product WHERE id = #{id}
    </select>
</mapper>
