<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cardGGaduekMainService.cardRecommend.mapper.StoreBenefitMapper">
    <resultMap id="BenefitMap" type="org.cardGGaduekMainService.cardRecommend.domain.StoreBenefitVO"/>
    <select id="findByCardProductId" parameterType="long" resultMap="BenefitMap">
        SELECT * FROM store_benefit WHERE card_product_id = #{cardProductId}
    </select>
</mapper>
