<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cardGGaduekMainService.member.mapper.MemberMapper">

    <insert id="createMember">
        INSERT INTO member (email, password, name, phone, is_active, created_at, updated_at)
        VALUES (#{email}, #{password}, #{name}, #{phone}, #{isActive}, #{createdAt}, #{updatedAt})
    </insert>
    <insert id="createNaverMember">
        INSERT INTO member (naver_user_id, email, name, phone)
        VALUES (#{naverUserId}, #{email}, #{name}, #{phone})

        <selectKey resultType="Long" keyProperty="id" keyColumn="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <select id="getMemberByEmail" resultType="org.cardGGaduekMainService.member.domain.MemberVO">
        SELECT * FROM member
        WHERE member.email = #{email}
    </select>
    <select id="getMemberById" resultType="org.cardGGaduekMainService.member.domain.MemberVO">
        SELECT * FROM member
        WHERE member.id = #{id}
    </select>
    <select id="getMemberByNaverId" resultType="org.cardGGaduekMainService.member.domain.MemberVO">
        SELECT * FROM member
        WHERE member.naver_user_id = #{naverId}
    </select>
    <select id="getMyPageInfo" resultMap="myPageInfoMap">
        SELECT m.name, m.email, m.phone, mc.coupon_product_id, mc.coupon_name, mc.coupon_category, mc.discount_value, mc.coupon_status, mc.expired_at
        ,b.name, b.email, b.phone, b.request_text, b.check_in_date, b.check_out_date, b.total_price, b.status, b.booked_at, b.room_name, b.accommodation_name, b.address
        FROM member m
            LEFT JOIN member_coupon mc
                ON m.id = mc.member_id
            LEFT JOIN bookings b
                ON m.id = b.member_id
        WHERE m.id = #{memberId}
    </select>

    
    <resultMap id="myPageInfoMap" type="org.cardGGaduekMainService.member.dto.MyPageDTO" >
        <result column="name" property="name" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <collection property="couponList" resultMap="couponMap" />
    </resultMap>

    <resultMap id="couponMap" type="org.cardGGaduekMainService.member.dto.MyCouponDTO" >
        <result column="coupon_product_id" property="couponProductId" />
        <result column="coupon_name" property="couponName" />
        <result column="coupon_category" property="couponCategory" />
        <result column="discount_value" property="discountValue" />
        <result column="coupon_status" property="couponStatus" />
        <result column="expired_at" property="expiredAt" />
    </resultMap>

    <resultMap id="bookingMap" type="org.cardGGaduekMainService.member.dto.MyBookingDTO" >
        <result column="id" property="bookingId" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="request_text" property="requestText" />
        <result column="check_in_date" property="checkInDate" />
        <result column="check_out_date" property="checkOutDate" />
        <result column="total_price" property="totalPrice" />
        <result column="status" property="status" />
        <result column="booked_at" property="bookedAt" />
        <result column="room_name" property="roomName" />
        <result column="accommodation_name" property="accommodationName" />
        <result column="address" property="address" />
    </resultMap>
    <update id="updateMember" parameterType="org.cardGGaduekMainService.member.dto.MemberUpdateDTO">
        UPDATE
            member
        <set>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            updated_at = NOW()
        </set>
        WHERE
            id = #{id}
    </update>
</mapper>