<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cardGGaduekMainService.card.mapper.CardMapper">

    <!-- 카드 단건 조회 (삭제 시 유효성 확인용) -->
    <select id="findByIdAndMemberId" resultType="org.cardGGaduekMainService.card.domain.CardVO">
        SELECT *
        FROM card
        WHERE id = #{cardId}
          AND member_id = #{memberId}
          AND is_valid = 1
    </select>

    <!-- 카드 유효성 false (삭제 처리) -->
    <update id="softDeleteCard">
        UPDATE card
        SET is_valid = 0
        WHERE id = #{cardId}
    </update>


    <!-- 카드 등록 -->
    <insert id="insertCard" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO card (
            card_number,
            expiration_date,
            cvc,
            card_password,
            created_at,
            custom_image_url,
            card_product_id,
            member_id,
            is_valid
        )
        VALUES (
                   #{cardNumber},
                   #{expirationDate},
                   #{cvc},
                   #{cardPassword},
                   #{createdAt},
                   #{customImageUrl},
                   #{cardProductId},
                   #{memberId},
                   #{isValid}
               )
    </insert>

    <!-- 사용자 보유 카드 목록 -->
    <select id="findAllByMemberId" resultType="org.cardGGaduekMainService.card.domain.CardVO">
        SELECT *
        FROM card
        WHERE member_id = #{memberId}
          AND is_valid = 1
        ORDER BY created_at DESC
    </select>

</mapper>
