<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.cardGGaduekMainService.cardbenefit.mapper.MerchantMapper">
    <select id="findAll" resultType="org.cardGGaduekMainService.cardbenefit.domain.Merchant">
        SELECT * FROM merchant;
    </select>

    <select id="findById" resultType="org.cardGGaduekMainService.cardbenefit.domain.Merchant">
        SELECT * FROM merchant WHERE merchant.id = #{id};
    </select>
</mapper>
